:root {
  --black: #101010;
  --gradient-color-1: #ffad00;
  --gradient-color-2: #f3c35b;
  --gradient-color-3: #f9d404;
  --hover-color-1: #fc8403;
  --hover-color-2: #f3e655;
  --hover-color-3: #ffaa00;
  --yellow-color: #ffe500;
  --white-color: #ffffff;
  --modal-background: rgba(9, 13, 60, 0.53);
  --popup-blue-blur: rgba(0, 189, 230, 0.58);
  --popup-arrow-gradient: linear-gradient(180deg, #fcb001 0%, #cf0 100%);
  --popup-arrow-shadow: 0 4px 50px 0 rgba(255, 255, 255, 0.93);
  --button-hover: 0 5px 15px rgba(255, 200, 50, 0.4);
  --font-family: 'Arial', sans-serif;
  --font-popup: 'Anton', sans-serif;
}

body {
  position: relative;
  overflow-x: hidden;
}

.modal {
  max-height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.modal_active {
  opacity: 1;
  visibility: visible;
  z-index: 100;
}

.modal__overlay {
  position: absolute;
  z-index: 99;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--modal-background);
}

.modal__content {
  position: relative;
  z-index: 100;
  width: 100%;
  max-width: 1200px;
}

.popup__overlay {
  position: relative;
  height: 800px;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 155px;
  margin-bottom: clamp(55px, 2vw, 155px);
  background:
    url('../assets/img/popup-bg-lines.png') center / 93% 97% no-repeat,
    url('../assets/img/popup-bg.png') center / 85% 87% no-repeat;
}

.popup__overlay::before {
  content: '';
  position: absolute;
  width: 88%;
  height: 87%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--popup-blue-blur);
  filter: blur(55px);
  z-index: -1;
}

.popup__content {
  font-family: var(--font-popup);
  color: var(--yellow-color);
}

.popup__title {
  font-size: 96px;
  font-size: clamp(40px, 40px + (96 - 40) * ((100vw - 375px) / (1920 - 375)), 96px);
  line-height: 96%;
  font-weight: 400;
  margin-bottom: 50px;
  margin-bottom: clamp(30px, 3vw, 50px);
}

.popup__text {
  font-weight: 400;
  font-size: 48px;
  font-size: clamp(26px, 26px + (48 - 26) * ((100vw - 375px) / (1920 - 375)), 48px);
  line-height: 83%;
  text-transform: capitalize;
  color: var(--white-color);
  margin-bottom: 35px;
  margin-bottom: clamp(25px, 2vw, 35px);
}

.popup__message {
  width: 92%;
  max-width: 622px;
  margin: auto;
  font-weight: 400;
  font-size: 48px;
  font-size: clamp(23px, 23px + (48 - 23) * ((100vw - 375px) / (1920 - 375)), 48px);
  line-height: 125%;
  margin-bottom: 60px;
  margin-bottom: clamp(30px, 3vw, 60px);
}

.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background: url('../assets/img/bg.jpg') center / 100% 100% no-repeat;
}

.header__logo-wrap {
  padding: 20px 0px 0px 20px;
  display: flex;
  justify-content: center;
}

.header__logo-wrap {
  flex-shrink: 1;
}

.main {
  flex: 1;
  width: 100%;
  position: relative;
  margin-top: -7%;
}

.main__imgs-container {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.main__girl-img-wrap,
.main__major-img-wrap {
  flex: 0 1 auto;
  max-width: 35%;
}

.wheel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.wheel picture {
  display: block;
}

.wheel__stone-wrap {
  position: relative;
}

.wheel__wheel-wrap {
  position: absolute;
  max-width: 54%;
}

.wheel__arrow-wrap {
  max-width: 13%;
  position: absolute;
  top: 8%;
  right: 50%;
  transform: translateX(60%);
  z-index: 5;
}

.wheel__button-wrap {
  position: absolute;
  height: 90px;
  width: 100%;
  top: 0;
  transform: translateY(-111%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 72%;
  max-width: 469px;
  height: 90px;
  background: linear-gradient(45deg, var(--gradient-color-1), var(--gradient-color-2), var(--gradient-color-3));
  background-size: 300%;
  position: relative;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 29px;
  text-transform: capitalize;
  text-align: center;
  color: var(--black);
  border: none;
  transition: all 0.5s ease;
  overflow: hidden;
  animation: backgroundShimmer 3s linear infinite;
  cursor: pointer;
}

.button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

@keyframes backgroundShimmer {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.button::before,
.button::after {
  content: '';
  position: absolute;
  width: 87px;
  height: 100%;
  right: 0;
  top: 0;
  background: url('../assets/icons/button-pattern.svg');
}

.button::before {
  transform: rotate(180deg);
  left: 0;
}

.footer {
  position: relative;
  margin-top: -100px;
  z-index: 10;
}

.footer__payments-container {
  padding: 16px 10px;
}

.footer .payments {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 25px;
  column-gap: 15px;
}

.payments__item {
  transition: all 0.5s;
}

@supports (background-image: url('../assets/img/bg.webp')) {
  .site-wrapper {
    background-image: url('../assets/img/bg.webp');
  }
}

@media (max-width: 768px) {
  .site-wrapper {
    background-image: url('../assets/img/bg768.jpg');
  }

  @supports (background-image: url('../assets/img/bg768.webp')) {
    .site-wrapper {
      background-image: url('../assets/img/bg768.webp');
    }
  }

  .popup__overlay {
    background: url('../assets/img/popup-bg768.png') center / 100% 100% no-repeat;
  }

  .popup__message {
    width: 70%;
    max-width: 500px;
  }

  .main__imgs-container {
    display: none;
  }

  .header__logo-wrap {
    padding: 31px 0px 0px 0px;
  }

  .wheel {
    width: 100%;
    height: 60vh;
    top: 40%;
  }

  .wheel__wheel-wrap {
    margin-top: 7.8125%;
    transform-origin: center center;
    border-radius: 50%;
    overflow: hidden;
  }

  .wheel__arrow-wrap {
    width: 18.6%;
    top: 13%;
    right: 51%;
    transform: translateX(57%);
  }

  .wheel__button-wrap {
    transform: translateY(-81%);
  }

  .footer {
    padding: 60px 0;
  }

  .footer__payments-container {
    padding: 0px;
  }

  .footer .payments {
    row-gap: 35px;
    column-gap: 30px;
  }
}

@media (max-width: 375px) {
  .site-wrapper {
    background-image: url('../assets/img/bg375.jpg');
  }

  @supports (background-image: url('../assets/img/bg375.webp')) {
    .site-wrapper {
      background-image: url('../assets/img/bg375.webp');
    }
  }

  .popup__overlay {
    height: 335px;
    padding-top: 0;
    background: url('../assets/img/popup-bg375.png') center / 100% 100% no-repeat;
  }
}

@media (hover: hover) {
  .button:hover {
    --gradient-color-1: var(--hover-color-1);
    --gradient-color-2: var(--hover-color-2);
    --gradient-color-3: var(--hover-color-3);
    box-shadow: var(--button-hover);
  }

  .payments__item:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}
